<a href="https://colab.research.google.com/github/Obreintelly/Mchezo_Pesa_Football_Prediction_Analysis/blob/main/Mchezo_Pesa_Football_Results_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Introduction and Background**


 **a. Specifying the Question**


> As a football Analyst recruited by Mchezopesa Ltd, I'm tasked with predicting the results of two football teams based on who's playing at Home, who's playing Away and whether or not it is a friendly match.





 **b. Defining the Success Metric**


> For this analysis, our metric for success would be a model that has a prediction score of atleast 85%.





 **c. Understanding the Context**




 **d. Recording the Experimental Design**

# **2. Importing Libraries**

In [4]:
#Importing Pandas library
import pandas as pd

#Importing Numpy Library
import numpy as np

#Importing Matplotlib Library

import matplotlib.pyplot as plt

#Importing Seaborn Library

import seaborn as sns

#Importing Scipy
import scipy
#Importing SKLearn
import sklearn

# **3. Loading Our Datasets**

In [5]:
#We have two datasets:
# Fifa Ranking Dataset and a Dataset containing Match Results 

#Loading the Ranking Dataset
ranking= pd.read_csv('/content/fifa_ranking.csv')

#Loading the Resukts Dataset
results = pd.read_csv('/content/results.csv')

# **4. Previewing Our datasets**

In [13]:
#Displaying first 5 rows of the Ranking dataset
ranking.head()

   rank country_full  ... confederation   rank_date
0     1      Germany  ...          UEFA  1993-08-08
1     2        Italy  ...          UEFA  1993-08-08
2     3  Switzerland  ...          UEFA  1993-08-08
3     4       Sweden  ...          UEFA  1993-08-08
4     5    Argentina  ...      CONMEBOL  1993-08-08

[5 rows x 16 columns]

In [14]:
#Displaying last rows of Ranking Dataset
ranking.tail()

       rank country_full  ... confederation   rank_date
57788   206     Anguilla  ...      CONCACAF  2018-06-07
57789   206      Bahamas  ...      CONCACAF  2018-06-07
57790   206      Eritrea  ...           CAF  2018-06-07
57791   206      Somalia  ...           CAF  2018-06-07
57792   206        Tonga  ...           OFC  2018-06-07

[5 rows x 16 columns]

In [15]:
#Displaying first 5 rows of our Results Dataset
results.head()

         date home_team away_team  ...     city   country neutral
0  1872-11-30  Scotland   England  ...  Glasgow  Scotland   False
1  1873-03-08   England  Scotland  ...   London   England   False
2  1874-03-07  Scotland   England  ...  Glasgow  Scotland   False
3  1875-03-06   England  Scotland  ...   London   England   False
4  1876-03-04  Scotland   England  ...  Glasgow  Scotland   False

[5 rows x 9 columns]

In [16]:
#Displaying last 5 rows of our Results Dataset

results.tail()

             date         home_team  ... country  neutral
40834  2019-07-18    American Samoa  ...   Samoa     True
40835  2019-07-18              Fiji  ...   Samoa     True
40836  2019-07-19           Senegal  ...   Egypt     True
40837  2019-07-19        Tajikistan  ...   India     True
40838  2019-07-20  Papua New Guinea  ...   Samoa     True

[5 rows x 9 columns]

In [12]:
#Displaying Shape
print('Fifa Ranking Dataset has: {} Rows, {} Columns'.format(*ranking.shape))

print('Fifa Results Dataset has: {} Rows, {} Columns'.format(*results.shape))

Fifa Ranking Dataset has: 57793 Rows, 16 Columns
Fifa Results Dataset has: 40839 Rows, 9 Columns